* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ddd9d6;
  overflow-x: hidden;
}

/* NAV */

nav {
  height: 75px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  background-color: rgb(211, 208, 203);
}

nav li {
  color: white;
  list-style: none;
  margin: 0;
  margin-left: 2rem;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-right: 2.5rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #5367cc;
  transition: box-shadow .4s;
  border-radius: .5rem;
  padding: 10px;
}

nav a:hover {
  color: #80a1ec;
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.feather-menu {
  margin-right: 2rem;
  color: rgb(101, 57, 172);
}

.menu {
  display: none;
}

.close {
  opacity: 0;
  cursor: pointer;
}

.nav-links {
  width: max-content;
}


/* LOGO */

.logo-text {
  font-family: 'Grand Hotel', cursive;
  font-size: 2rem;
  margin-left: 1rem;
}

.logo {
  height: 50px;
  margin-left: 1rem;
}

.logo-contain {
  display: flex;
  align-items: center;
}

/* MAIN */

main {
  height: 50vh;
  width: 100%;
  background-image: url('yyc.jpg');
  background-position: center;
  object-fit: cover;
  margin-top: 1REM;
}


/* HERO */

.hero {
  display: flex;
  flex-wrap: wrap;
  width: max-content;
  margin: auto;
}

.hero-contain {
  margin-left: 2rem;
}

.hero img {
  max-width: 40vw;
  height: auto;
}

.hero-contain p {
  font-size: 4vw;
  text-transform: uppercase;
  letter-spacing: 3vw;
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 7vw;
  color: #333;
  animation: slide-in 1.5s ease;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 9vw;
  color: #40468c;
  text-transform: uppercase;
  font-weight: 900;
  animation: pop 1.2s ease-in;
}

@keyframes slide-in {
  0% {
    transform: translateX(90vw);
  }

  60% {
    transform: translateX(-3vw);
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

/* Media Queries */

@media (orientation: portrait) {

  .hero-contain {
    Margin: AUTO;
  }

  h2 {
    font-size: 3rem;
  }

  .hero img {
    max-width: 300px;
    height: auto;
    margin: AUTO;
  }

  .hero {
    margin-top: 1rem;
    max-width: 300px;
  }

  .hero-contain p {
    font-size: 2rem;
    letter-spacing: 1.5rem;
  }
}

@media (max-width: 1000px) {

  body {
    overflow-x: hidden;
  }

  .hero-contain {
    Margin: AUTO;
  }

  .nav-links {
    position: fixed;
    left: 100%;
    height: 100%;
    top: 0;
    background-color: #333;
    display: BLOCK;
    padding-left: 1rem;
    width: 300px;
    transform: translateX(100%);
    transition: transform .4s ease-in;
  }

  .nav-links li {
    margin: 1rem;
  }

  .nav-links a {
    color: #80a1ec;
  }
  
  .nav-links a:hover {
    color: white;
    background-color: #333;
    box-shadow: none;
  }

  .menu {
    display: block;
    cursor: pointer;
  }

  .close {
    opacity: 1;
    text-align: right;
    display: block;
  }
}

/* nav-active */

.nav-active {
  transform: translateX(-100%);
}