* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ddd9d6;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

/* NAV */

nav {
  height: 75px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(211, 208, 203);
}

/* Navigation Bar */

nav li {
  color: white;
  list-style: none;
  margin: 0;
  margin-left: 2rem;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-right: 2.5rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #40468c;
  padding: 5px;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

nav a:hover {
  color: white;
}

.nav-links {
  width: max-content;
}

/* Menu SVG */

.feather-menu {
  margin-right: 2rem;
  color: rgb(101, 57, 172);
}

.menu {
  display: none;
}

/* Close Button */

.close {
  opacity: 0;
  cursor: pointer;
}

/* LOGO */

.logo-text {
  letter-spacing: initial;
  font-size: 1.7rem;
  margin-left: 1rem;
  font-weight: 900;
}

.logo-contain {
  display: flex;
  align-items: center;
}

.fa-star-and-crescent {
  font-size: 2rem;
}

/* MAIN */

main {
  height: max-content;
  width: 100%;

  background: linear-gradient(120deg, #29252a 50%, black 50%);
  background-position: center;
  object-fit: cover;

  margin-top: 1REM;
  padding: 1rem;

  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  font-size: 1.6rem;
}

.me-img {
  width: 400px;
  margin-right: 2rem;

  display: block;
}

.about {
  color: aliceblue;
  max-width: 800px;

  height: max-content;
  padding: 1rem;

  line-height: 1.3;
}

.hi {
  color: white;
  animation: 0;
}

/* HERO */

.hero {
  display: flex;
  flex-wrap: wrap;

  width: max-content;
  margin: auto;
}

.hero-contain {
  margin: auto;
  margin-left: 2rem;
}

.hero img {
  width: 40vw;
  height: auto;
}

/* "Design" Heading */

.hero-contain p {
  font-size: 4vw;
  text-transform: uppercase;

  letter-spacing: 1.5rem;
  font-family: 'Mansalva', cursive;

  color: rgb(17, 17, 17);
}

/* "Modern" Heading */

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 7vw;

  color: #333;
  animation: slide-in 1.5s ease;
}

@keyframes slide-in {
  0% {
    transform: translateX(90vw);
  }

  60% {
    transform: translateX(-1vw);
  }
}

/* "Powerful" Heading */

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 9vw;

  color: #40468c;
  text-transform: uppercase;

  font-weight: 900;
  animation: pop 1.2s ease-in;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

/* Call-to Actions Button Styles */

button {
  background-color: #40468c;
  color: white;
 
  border: 0;
  height: 50px;
  width: 200px;

  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;

  letter-spacing: 2px;
  border-radius: .5rem;
}

button:hover {
  background-color: teal;
   color: white;
}

/* Skills Section */

.skills {
  text-align: center;
  font-size: 3.3rem;
  background-color: whitesmoke;
  padding: 1rem;
}

/* "Mad Skillz" Heading */

h3 {
  font-size: 3rem;
  letter-spacing: 1.5rem;
  text-transform: uppercase;

  font-family: 'Mansalva', cursive;
  text-align: center;

  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

/* Skills Icons */

.skills-icons {
  display: flex;
  justify-content: space-evenly;
  max-width: 900px;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
}

.skills-icons img {
  display: block;
  margin: .5rem;
  transition:all 0.3s ease;
}

.skills-icons i {
  margin: .5rem;
  display: block;
  transition:all 0.3s ease;
}

/* Skills Icons Animations */

@-webkit-keyframes swing {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
@keyframes swing {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}

.swing:hover
{
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Skills Icons Image Sizes */

.css {
  width: 50px;
}

.html {
  width: 70px;
}

.js {
  width: 50px;
}

.jekyll {
  width: 70px;
}

/* Skills Icon Colours */

.fa-github {
  color: rebeccapurple;
}

.fa-node {
  color: green;
}

.fa-adobe {
  color: darkred;
}

.fa-npm {
  color: navy;
}

.fa-wordpress {
  color: #21759b;
}

/* Projects Section */

.projects {
  /* background-image: url('assets/yyc.jpeg');
  background-position: top;
  background-size: cover; */
  background: linear-gradient(to bottom, #40468c 0%, #80a1ec 100%);
  width: 100%;
  padding: 1.5rem;
}

h5 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 5.5vw;
  color: white;
  margin-bottom: 1rem;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.projects-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

/* CARDS */

.container {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: .5rem;
  margin-top: 1rem;
}

.image {
  display: block;
  width: 100%;
  height: 300px;
  border-radius: .5rem;
}

.overlay {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
   border-radius: .5rem;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

h4 {
  font-size: 1.5rem;
}

.projectlinks {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

.git2 {
  color: rgb(3, 177, 177);
}

.git2:hover{
  color: white;
}

.projectlinks a {
  color: rgb(3, 177, 177);
}

.projectlinks a:hover {
  color: white;
}

/* Media Queries */

@media (orientation: portrait) {

  .hero-contain {
    Margin: AUTO;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  h5 {
    font-size: 3rem;
  }

  .hero img {
    width: 300px;
    height: auto;
    margin: AUTO;
  }

  .hero {
    margin-top: 1rem;
    max-width: 300px;
  }

  .hero-contain p {
    font-size: 2rem;

  }

  .hi {
    font-size: 3rem;
  }

  main {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {

  body {
    overflow-x: hidden;
  }

  .hero-contain {
    Margin: AUTO;
  }

  .nav-links {
    position: fixed;
    left: 100%;
    height: 100%;
    top: 0;
    background-color: black;
    display: BLOCK;
    padding-left: 1rem;
    width: 300px;
    transform: translateX(100%);
    transition: transform .4s ease-in;
  }

  .nav-links a:hover {
    border: 1px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    background: linear-gradient(120deg, #29252a 50%, black 50%);
    color: white;
  }

  .nav-links li {
    margin: 1rem;
  }

  .nav-links a {
    color: #80a1ec;
  }

  .menu {
    display: block;
    cursor: pointer;
  }

  .close {
    opacity: 1;
    text-align: right;
    display: block;
  }
}

/* nav-active */

.nav-active {
  transform: translateX(-100%);
}